*{
    margin: 0;
    font-family: "Comfortaa", sans-serif;
}

.cabesalho{
    display: flex;
    flex-direction: column;
    background-color: #0e9aa9;
    padding: 1%;
}

.titulo{
    margin: 2%;
    font-family: "Pacifico", cursive;
    color: rgb(15, 25, 201);
}
.bt-menu{
    text-decoration: none;
    color: azure;
}
.navegacao{
    display: flex;
    justify-content: space-around;
}
